<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>跳蚤市场-密码修改</title>
    <meta charset="UTF-8">
    <script src="../js/angular/angular.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
    <script src="../js/city.js"></script>
    <script src="../js/main.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>

<body>
<div class="top_bar" ng-controller="GetCityController as cBox">
    所在城市：<span id="mycity"></span>[<a href="#" ng-mouseenter="show=true" ng-mouseleave="show=false">切换城市</a>]
    <div class="personDetail">
        <span id="signupAndLogin">
        <a href="login.html">登录</a>&nbsp;
        <a href="signup.html">注册</a>
        </span>
        <span id="myDetail" style="display: none">
            <a href="center.html" title="个人中心" target="_blank"><span>{{$root.name}}</span></a>&nbsp;
            <a href="javascript:void(0)" ng-click="exit()">退出</a>
        </span>
    </div>
    <div id="cityBox" ng-show="show || box" ng-mouseenter="box=true">
        <select name="province" class="province" ng-init="province.id='0'" ng-model="province.id" ng-change="cBox.provinceChange(province.id);city.id='0';" ng-options="id as name for (id,name) in cBox.provinceArr"></select>
        <select name="city" class="city" ng-init="city.id='0'" ng-model="city.id" ng-change="cBox.cityChange(city.id);box=false" ng-options="id as name for (id,name) in cBox.getCityArr"></select>
        <!--<button class="btn btn-default" ng-click="box=false">确定</button>-->
    </div>
</div>
<div class="tableContainer" style="background-color:rgb(152,203,0);width:100%;max-height:10px;">
    <div class="tableRow">
        <div id="logo"><a href="../main.html"><img src="../icon/main_logo.png" width="200" height="80"
                                                   alt="Flea Market"></a></div>
        <div id="search">
            <input type="text" name="search_content" placeholder="输入关键字或类别搜索">
            <input id="search_button" type="button" value="搜索">
        </div>
        <div id="post">
            <input id="post_button" type="button" value="我要发帖" onclick="window.open('product_addition.html')"></button>
        </div>
    </div>
</div>
<div class="whole">
    <div class="centerContainer">
        <div class="tableRow">
            <div style="width:150px" class="person_name"><a href="center.html">个人中心</a></div>
            <div class="person_name">密码修改</div>
        </div>
    </div>
    <div class="centerContainer">
        <div id="center_pic"><img src="../icon/center_pic.jpg" alt="Flea Market">

            <div style="height:10px;"></div>
            <nav>
                <ul class="catalogue1">
                    <li class="catalogue1"><a href="collection.html">我的收藏</a></li>
                    <li class="catalogue1"><a href="sale.html">我的卖单</a></li>
                    <li class="catalogue1" style="color:#F9BD20;">密码修改</li>
                </ul>
            </nav>
        </div>
        <div class="password_modify" ng-controller="modifyPwdCtrl">
            <form id="ModifyPWDForm" name="ModifyPWDForm" novalidate>

                <label for="oldpassword">原密码：</label>
                <input type="password" style="width:150px; height:22px;" name="oldpassword" id="oldpassword" ng-model="oldPwd" required autofocus/>
                <p class="pwmdf_text">请输入您的登陆密码</p>

                <label for="npassword">新密码：</label>
                <input type="password" style="width:150px; height:22px;" name="npassword" id="npassword" ng-model="newPwd" ng-minlength="8" required autofocus/>
                <p class="pwmdf_text" ng-hide="ModifyPWDForm.npassword.$error.minlength">请输入不少于8个字的密码</p>
                <p style="color:#fa787e;" ng-show="ModifyPWDForm.npassword.$error.minlength">*用户密码必须大于8个字</p>

                <label for="rpassword">确认新密码：</label>
                <input type="password" style="width:150px; height:22px;" name="rpassword" id="rpassword" ng-model="rePwd" required autofocus/>
                <p class="pwmdf_text">请再次输入新密码</p>

                <p style="color:#fa787e;" ng-init="modifyMessage=''">{{modifyMessage}}</p>
                <button class="pwmdf_submit_btn" ng-click="modifyPwdForm()" ng-disabled="ModifyPWDForm.$invalid">提交</button>
            </form>
        </div>
       
    </div>
</div>
</body>
</html>
